{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "valid-jsdoc": "off",
    "no-console": 2,
    "@typescript-eslint/no-explicit-any": 0
  }
}
